.App {
  text-align: center;
  width: 100%;
}

.timerEffects {
  /* Position on page */
  position: fixed;
  top: 45%;
  left: 45%;

  /* Styling of text */
  max-width: 200px;
  font-size: 24pt;
  font-weight: 500;
  cursor: pointer;

  /* Transform size and color */
  transition: transform 1s;
}

.timerEffects:hover {
  /* On hover transform color and size*/
  color: rgb(218, 53, 53);
  transform: scale(1.5);
}
